/* Put your CSS here */
html, body {
    margin: 0;
    height: 100%;
    min-height:100%;
    position:relative;
}

header {
    padding: 20px;
    padding-bottom: 0;
}

#body {
    padding-left: 20px;
    height: 100%;
    padding-bottom: 100px;
}

footer {
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #2C3145;
    color: white;
}

.inline {
    display: inline;
}

.route-form {
    font-size: 14px;
}

.to {
    font-size: 18px;
}

.btn {
    margin-bottom: 0.9em;
}

.date-picker {
    width: 103px;
}

.autocomplete-view {
    position: relative;
}

.autocomplete {
    position: absolute;
    z-index:3;
    background-color: white;
    border-color: #DCE5D2;
    border-width: 0.1em;
    border-style: solid;
    min-width: 303px;
    min-height: 50px;
}

.autocomplete div {
    background-color: white;
}

.autocomplete a {
    width: 100%;
}

.autocomplete div:hover {
    color: white;
    background-color: #03405D;
    cursor: pointer;
}

.autocomplete span {
    height: 100px;
}

.invisible {
    visibility: none;
}

.airport {
    font-weight: bold;
    font-size: 1em;
    height: 2em;
    padding: 0.3em;
}

.form-control {
    display: inline;
    width: 103px;
    min-width: 103px;
    border-radius: 0;
}

.over-z{
    z-index: 4;
}

.row {
    display: block;
    height: 4em;
    width: 100%;
    margin-left: 5px;
}

.column {
    display: inline-block;
    min-width: 100px;
    text-align: center;
}

.flight-icon {
    min-width: 32px;
}

.inline-row {
    min-width: 300px;
}

.inline-row .column: {
    width: 45%;
}

.vertical-align {
    position: absolute;
    top: 50%;
    height: 2em;
    min-height: 2em;
    margin-top: -.65em
}