/* Put your CSS here */
html, body {
    margin: 20px;
}

.autocomplete {
    padding: 0.1em;
    background-color: white;
    border-color: black;
    border-width: 0.1em;
    border-style: solid;

}

.invisible {
    visibility: hidden;
}