/* Put your CSS here */
html, body {
    margin: 0;
    height: 100%;
    min-height:100%;
    position:relative;
}

header {
    padding: 20px;
    padding-bottom: 0;
}

#body {
    padding-left: 20px;
    padding-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #2C3145;
    color: white;
}

.inline {
    display: inline;
}

.route-form {
    font-size: 14px;
}

.to {
    font-size: 18px;
}

.form-control {
    border-radius: 0;
    display: inline;
    width: 303px;
    min-width: 303px;

}

.btn {
    margin-bottom: 0.9em;
}

.datepicker input[type="text"] {
    display: inline;
}

.datepicker input{
    width: 176px;
}

.autocomplete-view {
    position: relative;
}

.autocomplete {
    position: absolute;
    z-index:3;
    background-color: white;
    border-color: #FFF2DF;
    border-width: 0.1em;
    border-style: solid;
    min-width: 303px;
    min-height: 50px;
}

.autocomplete div {
    background-color: white;
}

.autocomplete a {
    width: 100%;
}

.autocomplete div:hover {
    background-color: blue;
    cursor: pointer;
}

.autocomplete span {
    height: 100px;
}

.invisible {
    visibility: none;
}